* { 
	margin:0;
	padding:0;
}
html, body { 
	height:100%;
}
html {
	min-width:892px;
}
body { 
	background:#fff; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	color:#333333;
}

img {
	border:0; 
	vertical-align:top; 
	text-align:left;
}
object { 
	vertical-align:top; 
	outline:none;
}
ul, ol { 
	list-style:none;
}

.fleft { 
	float:left;
}
.fright { 
	float:right;
}
.clear { 
	clear:both;
}

.col-1, .col-2, .col-3 { 
	float:left;
}

.alignright { 
	text-align:right;
}
.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.container { 
	width:100%;
}




/*==== GLOBAL =====*/
#main {
	width:892px; 
	margin:0 auto;
}

#header {
	height:195px;
	overflow:hidden;
	background:url(images/header-bg.gif) no-repeat 0 100%;
}
#content {
	padding-bottom:70px;
	font-size:16px;
}
	#content .indexMainContent {
		float:left;
		width:576px;	
		line-height:1.5em;
		margin-left:44px;
		padding:10px;
	}
	#content .mainContent {
		float:left;
		width:768px;	
		line-height:1.5em;
		margin-left:44px;
		padding:10px;
	}
	#content .aside {
		float:left;
		width:250px;
	}
#footer {
	border-top:1px solid #dddddd;
	padding:16px 0px 22px 24px;;
	font-size:14px;
	width:100%;
}


/*---- tailings ----*/
.tail-top { 
	background:url(images/tail-top.gif) left top repeat-x;
}


/*----- forms parameters -----*/

input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif; font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}


/*----- other -----*/
.img-indent { 
	margin:0 20px 0 0; 
	float:left;
}
.img-indent.alt {
	margin:3px 12px 0 0;
}
.img-box { 
	width:100%; 
	overflow:hidden; 
	padding-bottom:20px;
}
	.img-box img { 
		float:left; 
		margin:0 20px 0 0;
	}

.extra-wrap { 
	overflow:hidden;
}


p {
	margin-bottom:15px;
}

.p1 { 
	margin-bottom:8px;
}
.p2 { 
	margin-bottom:15px;
}
.p3 { 
	margin-bottom:22px;
}

/*----- txt, links, lines, titles -----*/
a {
	color:#0088c3; 
	outline:none;
}
a:hover{
	color:#004488;
}

h1 {
	font-size:38px;
	line-height:2.2em;
	color:#0088ce;
	font-weight:bold;
}
#header h1{
		margin-left:100px;
}

h2 {
	font-size:26px;
	line-height:1.2em;
	/*color:#424343;*/
	color:#0088c3;
	font-weight:normal;
	border-bottom:2px solid #d5eab2;

	padding:5px 0 8px 0;
	margin-bottom:22px;
}
h2.newsletter {
	background:url(images/title-icon.gif) no-repeat 0 5px;
	padding:5px 0 8px 43px;
	
}
h3 {
	font-size:26px;
	height:45px;
	line-height:45px;
	color:#4d4e4e;
	font-weight:normal;
	font-style:italic;
	background:url(images/title-bg.gif) 0 0 repeat-x;
	padding:0 0 0 23px;
	position:relative;
	letter-spacing:-1px;
	text-shadow:1px 1px 1px #fff;
	margin-bottom:3px;
}
	h3:before {
		content:"";
		display:block;
		position:absolute;
		left:0;
		top:0;
		width:19px;
		height:45px;
		background:url(images/title-left.gif) no-repeat 0 0;
	}
	h3:after {
		content:"";
		display:block;
		position:absolute;
		top:0;
		right:0;
		width:19px;
		height:45px;
		background:url(images/title-right.gif) no-repeat 0 0;
	}
h4 {
	font-size:1em;
	color:#575757;
	margin-bottom:15px;
}
h5 {
	font-size:1em;
	color:#575757;
}
	

.button { 
	float:right;
	background:url(images/button-bg.gif) 0 0 repeat-x;
	line-height:33px;
	color:#fff;
	text-decoration:none;
	font-size:17px;
	position:relative;
	padding:0 16px 0 17px;
	text-shadow:1px 1px #70b100;
}
.button:before {
	content:"";
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:15px;
	height:33px;
	background:url(images/button-left-alt.gif) no-repeat 0 0;
}
.button:after {
	content:"";
	display:block;
	position:absolute;
	left:-15px;
	top:0;
	margin-left:100%;
	width:15px;
	height:33px;
	background:url(images/button-right-alt.gif) no-repeat 0 0;
}
.button:hover {
	text-decoration:underline !important;
}


/*==================boxes====================*/
.box {
	background:#f8f8f8;
	width:100%;
	font-size:13px;
	color:#747474;
}
	.box .border-bot {
		background:url(images/border.gif) repeat-x left bottom;
	}
	.box .border-right {
		background:url(images/border.gif) repeat-y right top;
	}
	.box .left-top-corner {
		background:url(images/left-top-corner.gif) no-repeat left top;
	}
	.box .right-top-corner {
		background:url(images/right-top-corner.gif) no-repeat right top;
	}
	.box .left-bot-corner {
		background:url(images/left-bot-corner.gif) no-repeat left bottom;
		width:100%;
		}
	.box .right-bot-corner {
		background:url(images/right-bot-corner.gif) no-repeat right bottom;
		}
	.box .inner { 
		padding:22px 23px 29px 24px;
	}
		.box .button:before {
			background:url(images/button-left.gif) no-repeat 0 0;
		}
		.box .button:after {
			background:url(images/button-right.gif) no-repeat 0 0;
		}

.address { 
	float:left;
}
	.address dt {
		margin-bottom:16px;
	}
	.address dd { 
		clear:both;
	}
		.address dd span { 
			float:left;
			width:82px;
		}
		.address dd a {
			color:#9b9b9b;
		}


/*===== header =====*/
#header .logo {
	float:left;
	padding:12px 0 0 0;
	margin-left:12px;
	position:relative;
}


/*- navigation styles --*/
#header .nav {
	float:left;
	padding:33px 0 0 0;
}
	#header .nav li {
		background:url(images/divider.gif) 0 0 no-repeat;
		padding-left:1px;
		float:left;
	}
	#header .nav li.no-bg {
		background:none;
	}
	#header .nav li:first-child {
		background:none;
	}
		#header .nav li a {
			float:left;
			font-size:17px;
			line-height:37px;
			color:#555555;
			text-decoration:none;
			position:relative;
			padding:0 19px 0 19px;	
			
		}
		#header .nav li a:hover {
	color:#0082bb;
	
		}
		#header .nav li a.active {
			background:url(images/nav-bg.gif) 0 0 repeat-x;
			color:#fff !important;
			text-shadow:1px 1px #6bae00;
			text-decoration:none;
		}
		#header .nav li a:before {
			content:"";
			display:block;
			width:16px;
			height:37px;
			position:absolute;
			left:0;
			top:0;
		}
		#header .nav li a:after {
			content:"";
			display:block;
			width:19px;
			height:37px;
			position:absolute;
			right:0;
			top:0;
		}
		#header .nav li a.active:before {
			background:url(images/nav-left.gif) no-repeat 0 0;
		}
		#header .nav li a.active:after {
			background:url(images/nav-right.gif) no-repeat 0 0;
		}



/*- anythingSlider begin --*/
.anythingSlider                         { width: 892px; height: 77px; position: relative; background:url(images/slider-bg.jpg) no-repeat 0 100% #fff; overflow:hidden;}
.anythingSlider .wrapper                { width: 892px; height: 20px; overflow: auto; margin:0 auto; position: absolute; top: 0; left: 0; overflow:hidden; }
.anythingSlider .wrapper ul             { width: 9999px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.anythingSlider ul li { 
	display: block;
	float: left;
	padding: 0;
	height: 20px;
	width: 892px;
	margin: 0; 
	font-size:16px;
	color:#9b9b9b;
	font-style:italic;
	line-height:18px;
	overflow:hidden;
	position:relative;
}
.anythingSlider .arrow { 
	display: block;
	height: 190px;
	width: 33px;
	text-indent: -9999px;
	position: absolute;
	top: 0;
	cursor:pointer;
	display:none;
}
.anythingSlider .forward {
	background:url(images/next.gif) no-repeat 0 0;
	right:0;
}
.anythingSlider .back                   {
	background:url(images/prev.gif) no-repeat 0 0;
	left:0;
}


.anythingSlider li .inner {
	padding:30px 50px 0 67px;
}
	.anythingSlider li h2 {
		font-size:44px;
		line-height:40px;
		border:none;
		text-align:center;
		font-style:normal;
		padding-bottom:0;
		color:#565656;
		margin-bottom:17px;
		word-spacing:3px;
		background:#fff;
	}

#start-stop { 
	width: 37px;
	height:22px;
	background:url(images/stop-start.gif) no-repeat 0 0;
	position: absolute;
	left: 430px;
	bottom: 0;
	text-indent:-9999em;
}
#start-stop.active {
	background-position:0 -22px;
}
/*- anythingSlider end --*/

/*===== content =====*/
#content .indent {
	padding:39px 0 0 0;
}
	#content .section {
		padding:0 0 52px 0;
	}
	#content .aside .section {
		padding-bottom:42px;
	}
	
	#content .img-border {
		border:1px solid #e6e6e6;
		padding:2px;
		margin-bottom:5px;
	}
	#content .img-border:hover {
		border-color:#0088c3;
	}


/*--- list styles ---*/
.list1 {
	padding-bottom:7px;
	font-size:15px;
}
	.list1 li {
		padding-bottom:14px;
	}
	.list1 li:before {
		content:">>";
		display:inline;
		font-weight:bold;
		padding-right:10px;
		color:#0088c3;
	}
		.list1 li a:hover {
			color:#004488;
		}

.listitem {
	padding-bottom:7px;
	font-size:15px;
}
	.listitem li {
		padding-bottom:5px;
	}
	.listitem li:before {
		content:">>";
		display:inline;
		font-weight:bold;
		padding-right:10px;
		color:#0088c3;
	}
		.listitem li a:hover {
			color:#004488;
		}

.list2 {
	line-height:16px;
}
	.list2 dt {
	padding-top:10px;
	padding-bottom:5px;
	text-align:left;	
	line-height:1.2em;	
	}
	.list2 dt strong {
		color:#0088c3;
		font-weight:normal;
	}
	.list2 dd {
		margin-bottom:16px;
	}



.list3 th {
	border-bottom:1px dashed #b3b3b3;
	padding-top:10px;
	padding-bottom:5px;
	text-align:left;
	padding-left:6px;
	width:60px;
	font-weight:normal;
}
.list3 th strong {
	color:#0088c3;
}
.list3 td {
	border-bottom:1px dashed #b3b3b3;
	padding-top:10px;
	padding-bottom:5px;
	text-align:left;
	padding-left:6px;
	width:168px;
	font-size:15px;
}
	.list3 td a {
		font-weight:bold;
		text-decoration:none;
	}
	.list3 td a:hover {
		text-decoration:underline;
	}


.list4 li {
	width:100%;
	overflow:hidden;
	border-bottom:1px dotted #c3c3c4;
	padding:0 0 19px 16px;
	margin-bottom:20px;
}
	.list4 li img {
		float:left;
		margin-right:18px;
	}
	.list4 li h4 {
		margin-bottom:8px;
	}
	.list4 li a {
		font-weight:bold;
		text-decoration:none;
	}
	.list4 li a:hover {
		text-decoration:underline;
	}



.testimonials li {
	padding:0 20px 15px 0;
}
	.testimonials li strong {
		color:#4f5050;
	}
	blockquote {
		padding-bottom:15px;
	}
	blockquote div {
		display:inline;
	}
	blockquote:before { 
		content:'"';
		display:inline;
	}
	blockquote:after {
		content:'"';
		display:inline;
	}

/*===== footer =====*/
#footer .social-services {
	float:right;
}
	#footer .social-services li {
		float:left;
		padding-left:9px;
	}
	
	#footer a {
		color:#8b8b8b;
		text-decoration:none;
	}
	#footer a:hover {
		text-decoration:none;
		color:#424343;
	}
	#footer strong {
		color:#424343;
	}
	
	#footer .nav {
		padding-top:3px;
		margin-left:-26px;
	}
		#footer .nav li {
			display:inline;
		}
		#footer .nav li:before {
			content:"|";
			display:inline;
			padding:0 13px 0 10px;
		}
		#footer .nav li a.current {
			color:#424343;
		}


/*----- forms -----*/
#newsletter-form fieldset {
	border:none;
}
	#newsletter-form label {
		display:block;
		background:url(images/input-bg.gif) no-repeat 0 0;
		height:39px;
	}
	#newsletter-form input[type=text] {
		width:230px;
		padding:2px 0 1px 10px;
		background:none;
		border:none;
	}


#contacts-form fieldset {
	border:none;
}
	#contacts-form label {
		display:block;
		height:26px;
		overflow:hidden;
	}
		#contacts-form input {
			background:#fff;
			width:190px;
			padding:1px 5px 1px 6px;
			border:none;
			border:1px solid #cecece;
			color:#9b9b9b;
		}
		#contacts-form textarea {
			width:190px;
			padding:1px 5px 1px 6px;
			height:350px;
			background:#fff;
			overflow:auto;
			border:1px solid #cecece;
			color:#9b9b9b;
			margin-bottom:22px;
		}
		#contacts-form .button {
			margin-left:10px;
		}

/*==========================================*/
